-- This is the css file that takes care of all css problems of the projects.

--It will help make the program beutiful with colors and maybe some sizing

#container{
  border: solid;
  border-radius: 5px;
  border-color: blue;
  border-style: dotted;
}
#table{
  border-style: solid;
  background-color: turquoise;
}
.results{
  text-align: right;
}
.labels{
  text-align: justify;
}
#input-form{
margin-left: 400px;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#wallet_label{
  font-style: italic;
  font-size: 25px;
  color: red;
  font-weight: bolder;
  font-family: fantasy;
}
.navbar{
background-color: #FEE891;
}
#choose{

  margin-left: 400px:
}
.results{
  color: red;
}
